@model OnlineToss.Models.PaymentType

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger mt-3">刪除一筆付款類型</h2>
<hr />
<h3 class="alert alert-danger text-center">請確認下列資料內容是否刪除？</h3>
<hr />
<div>
    <h4>PaymentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
