.c-item {
    height: 500px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    box-shadow: 5px 10px ;
}

body {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#8F0000,#F0F0F0,#850000);
    font-family: fantasy,LiHei Pro
}

/*#LOGO {
    height: 70px;
    width: 70px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}*/

/*.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}*/