
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

@*  這裡是註解 *@

@*
    這裡
    是
    註解
    區塊
*@

@{
    string name = "John";
    var name2 = "Keven";
    int Math = 85, Eng = 95, Chi = 95;
    bool flag = true;
    <hr />

    <h3>@name2</h3>

    @name

    <h3>歡迎@name2光臨</h3>
    <h3>歡迎@(name2)光臨</h3>

}

<h3>@name</h3>
<hr />

<h1>@Math+@Eng+@Chi=@(Math + Eng + Chi)</h1>
<hr />

@if (flag)
{
    <h1>您已登入本系統</h1>
}
else
{
    <h1>您尚未登入本系統</h1>
}
@{ 
    string[] nm = { "瑞豐夜市", "新堀江商圈", "六合夜市", "青年夜市", "花園夜市", "大東夜市", "武聖夜市" };
}
<ul>
    @foreach(var item in nm)
    {
    <li>@item</li>
    }

</ul>